extends header

block content
  div(class="h-100 text-light container-fluid" style="background:black")
    h1(class="text-center display-4") SolarApp
    div(class="container")
      div(class="col")
        div(class="row")
          div(class="col")
          div(class="col")
            img(src="energia-solar-gif.gif" class="rounded mx-auto d-block img-fluid" style="max-width:100%")
            p(id="powerNowAndUnit" class="text-center")
          div(class="col")
        p(id="lastUpdate" class="text-center")

  