doctype html
html
  head
    meta(charset="utf-8")
    title='SolarApp_PWA'
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="/bootstrap.min.css")
    script(src="/jquery.min.js")
    script(src="/bootstrap.min.js")
    script(src="/socket.io.js")

  body
    div(class="jumbotron text-center")
      h1 SolarApp PWA

    block content